.today {
  margin-top: 10px;
  height: 30px;
}
.today:hover {
  cursor: pointer;
}
.textBlue {
  color: blue;
}
.textBlue span,
.later span {
  padding: 3px;
}
.textRed {
  color: red;
}
.textRed span {
  padding: 3px;
}
